# Lists, Tuples, and Sets

1. List (Daftar):
    my_list = [1, 2, 3, 'a', 'b', 'c']

    Sifat Utama:
        Mutable: Isi list dapat diubah setelah pembuatan.
        Dapat berisi elemen dengan tipe data yang berbeda.

2. Tuple:
    my_tuple = (1, 2, 3, 'a', 'b', 'c')

    Sifat Utama:
        Immutable: Setelah dibuat, elemen tuple tidak dapat diubah.
        Dapat berisi elemen dengan tipe data yang berbeda.

3. Set:
    my_set = {1, 2, 3, 'a', 'b', 'c'}

    Sifat Utama:
        Unordered: Tidak ada urutan tertentu dalam set.
        Mutable: Isi set dapat diubah (elemen dapat ditambah atau dihapus).
        Hanya dapat berisi elemen unik, tidak ada duplikasi.

Perlu diingat bahwa List menggunakan tanda kurung siku [ ], Tuple menggunakan tanda kurung ( ), dan Set menggunakan tanda kurung kurawal { }.

# LIST

    - Lists are ordered.
    - Lists can contain any arbitrary objects.
    - List elements can be accessed by index.
    - Lists can be nested to arbitrary depth.
    - Lists are mutable.
    - Lists are dynamic.

________ Indexing ________

In [ ]:
# creatinng a list
nlis = ['python', 25, 2022]
nlis
# length of the list
len(nlis)

________ Slicing ________

In [ ]:
# slicing of a list
print(nlis[0:2])
print(nlis[2:4])
print(nlis[4:6])

In [ ]:
# Extending the list
  # we use the extend() functi on to add a new element to the list.
  # With this function, we add more than one element to the list.

In [ ]:
# take a list
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
nlis.extend(['hello world!', 1.618])
nlis

________ append() method ________

In [ ]:
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
nlis.append(['hello world!', 1.618])
nlis

________ len(), append(), count(), index(), insert(), max(), min(), sum() functions ________

In [ ]:
lis = [1,2,3,4,5,6,7]
print(len(lis))
lis.append(4)
print(lis)
print(lis.count(4)) # How many 4 are on the list 'lis'?
print(lis.index(2)) # What is the index of the number 2 in the list 'lis'?
lis.insert(8, 9) # Add number 9 to the index 8. 
print(lis)
print(max(lis)) # What is the maximum number in the list?
print(min(lis)) # What is the minimum number in the list?
print(sum(lis)) # What is the sum of the numbers in the list?

________ Deleting the element from the list using del() function ________

In [ ]:
nlis = ['python', 3.14, 2022, [1, 1, 2, 3, 5, 8, 13, 21, 34], ('hello', 'python', 3,14, 2022)]
print('Before deleting:', nlis)
del nlis
print('After deleting:', nlis)

________ Conversion of a string into a list using split() function ________

In [ ]:
message = 'Python is a programming language.'
message.split()

In [ ]:
# Use of split() function with a delimiter

In [ ]:
text = 'p,y,t,h,o,n'
text.split("," )

# Tuples

    Tuples are immutable lists and cannot be changed in any way once it is created.
        - Tuples are defined in the same way as lists.
        - They are enclosed within parenthesis and not within square braces.
        - Tuples are ordered, indexed collections of data.
        - Similar to string indices, the first value in the tuple will have the index [0], the second value [1]
        - Negative indices are counted from the end of the tuple, just like lists.
        - Tuple also has the same structure where commas separate the values.
        - Tuples can store duplicate values.
        - Tuples allow to store several data items including string, integer, float in one variable

In [ ]:
# Take a tuple
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
tuple_1
print(type(tuple_1))
print(len(tuple_1))

________ Indexing ________

In [ ]:
# Printi ng the each value in a tuple using both positi ve and negati ve indexing
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[-1])
print(tuple_1[-2])
print(tuple_1[-3])

________ Concatenation ________
    To concatenate tuples, + sign is used

In [ ]:
tuple_2 = tuple_1 + ('Hello World!', 2022)
tuple_2

________ Repetition ________

In [ ]:
rep_tup = (1,2,3,4)
rep_tup*2

________ Membership ________

In [ ]:
rep_tup = (1,2,3,4)
print(2 in rep_tup)
print(2 not in rep_tup)
print(5 in rep_tup)
print(5 not in rep_tup)

________ Iteration ________

In [ ]:
rep_tup = (1,2,3,4)
for i in rep_tup:
 print(i)

________ Slicing ________
    To obtain a new tuple from the current tuple, the slicing method is used.

In [ ]:
# Obtaining a new tuple from the index 2 to index 6
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
tuple_1[2:7]

# Obtaining tuple using negati ve indexing
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
tuple_1[-4:-1]

________ Sorting ________

In [ ]:
# Tuples can be sorted and save as a new tuple.
tuple_3 = (0,9,7,4,6,2,9,8,3,1)
sorted_tuple_3 = sorted(tuple_3)
sorted_tuple_

________ Nested ________
    In Python, a tuple written inside another tuple is known as a nested tuple.

In [ ]:
# Take a nested tuple
nested_tuple =('biotechnology', (0, 5), ('fermentation', 'ethanol'), (3.14, 'pi', (1.618, 'golden ratio')) )
nested_tuple

# Now printi ng the each element of the nested tuple
print('Item 0 of nested tuple is', nested_tuple[0])
print('Item 1 of nested tuple is', nested_tuple[1])
print('Item 2 of nested tuple is', nested_tuple[2])
print('Item 3 of nested tuple is', nested_tuple[3])

________ Tuples are immutable ________

In [ ]:
# Take a tuple
tuple_4 = (1,3,5,7,8)
tuple_4[0] = 9
print(tuple_4)
# The output shows the tuple is immutable

________ Delete a tuple ________
    An element in a tuple can not be deleted since it is immutable.
    But a whole tuple can be deleted

In [ ]:
tuple_4 = (1,3,5,7,8)
print('Before deleting:', tuple_4)
del tuple_4
print('After deleting:', tuple_4)

# SETS

![sets](http://127.0.0.1:8888/files/imglist/sets.png?_xsrf=2%7C0c07da78%7Cf8af67b74a203827ed58547b951b6e50%7C1704697821)

    - Set is one of 4 built-in data types in Python used to store collecti ons of data including List, Tuple, and Dictionary
    - Sets are unordered, but you can remove items and add new items.
    - Set elements are unique. Duplicate elements are not allowed.
    - A set itself may be modified, but the elements contained in the set must be of an immutable type.
    - Sets are used to store multiple items in a single variable.
    - You can denote a set with a pair of curly brackets {}.

In [ ]:
# Take a set
set1 = {'Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022}
set1

# A list can convert to a set
# Take a list
nlis = ['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022]
# Convert the list to a set
set2 = set(nlis)
set2

________ add() function ________

In [ ]:
# Addition of an element to a set
set3 = set(['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022])
set3.add('Hi, Python!')
set3

________ update() function ________ 
    To add multiple elements into the set

In [ ]:
x_set = {6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

________ remove() function ________

In [ ]:
set3.remove('Hello Python!')
set3

________ discard() function ________ 
    It leaves the set unchanged if the element to be deleted is not available in the set.

In [ ]:
set3.discard(3.14)
set3

# To verify if the element is in the set
1.618 in set3

________ Union (| or union() method) ________

In [ ]:
# Using the | operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

# Using the union() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

________ Intersection (& or intersection() method) ________

In [ ]:
# Using the & operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2
print(intersection_set)

#Using the intersection() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

________ Difference (- or difference() method) ________

In [ ]:
# Using the - operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print(difference_set)

# Using the difference() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

________ Symmetric Difference (^ or symmetric_difference() method)  ________

In [ ]:
# Using the ^ operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)

# Using the symmetric_difference() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)